#process-screen{
    margin-top: 10px; 
    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    flex-wrap: wrap;
}

.process-screen-one{
    width: calc( (100% - 15px) / 2);
    margin-right: 5px;
    background: blue; 
}

.process-screen-two{
    width: calc( (100% - 15px) / 2);
    margin-left: 5px;
    background:crimson;
}

#textarea-input{
    width: 94%;
    height: 85%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    padding: auto; 
    margin-bottom: 3.5%;  
}

.input-container{
    height: 100%;
}

#exec-button{
    margin-top: 3.5%;
    
}

.option-panel{
    width: 94%;
    display: flex;
    margin: auto;
}